Package: com.xlsn0w.wxhongbao
Name: 微信红包专家
Depends: mobilesubstrate
Architecture: tweak
Description: 微信自动抢红包助手 QQ:946434404
Maintainer: XLsn0w
Author: XLsn0w
Section: Tweaks
Version: 3.0.0-9+debug
Installed-Size: 504
