Package: com.laborc.wxplugin
Name: wxPlugin
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: 抢红包功能:[当前只支持对进入的聊天会话抢红包，比如进入群聊A，那只能抢群聊A的，不能抢其他聊天会话的，如果不进入任何聊天会话，就不会抢任何红包];短视频:[朋友圈视频默认是只能录制6秒，现在安装插件以后可以录制30秒]
Maintainer: laborc
Author: laborc
Section: Tweaks
